.header {
  background-color: #1d4f87;
  padding: 0 1rem;
  &__logo {
    align-items: center;
    color: #fff;
    display: inline-flex;
    font-weight: normal;
    letter-spacing: 0.0625rem;
    line-height: 1;
    margin: 1rem 0;
    img {
      height: 4rem;
      margin: {
        right: 0.5rem;
      }
    }
    &_title {
      font-size: 1.5rem;
    }
    &_subtitle {
      font-size: 1.25rem;
    }
  }

  .skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
  }

  a.skip:active,
  a.skip:focus,
  a.skip:hover {
    left: 25px;
    top: 30px;
    width: 120px;
    height: auto;
    overflow: visible;
  }
}
